<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ReportingService2010Soap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://chrisdev1:80/ReportServer/ReportService2010.asmx"
                binding="basicHttpBinding" bindingConfiguration="ReportingService2010Soap"
                contract="API.ReportingService2010Soap" name="ReportingService2010Soap" />
        </client>
    </system.serviceModel>
</configuration>