<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net452" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="140.340.80" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net452" />
</packages>